<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false">

  <targets>
    <target xsi:type="File" 
            name="file" 
            fileName="${specialfolder:folder=MyDocuments}/../Library/logs/ComplexXamarinFormsIosExtActionExtension.log" 
            archiveAboveSize="5242880" 
            maxArchiveFiles="3" 
            archiveNumbering="DateAndSequence" 
            archiveFileName="${specialfolder:folder=MyDocuments}/../Library/logs/ComplexXamarinFormsIosExtActionExtension.{#}.zip" 
            enableArchiveFileCompression="True" 
            layout="[${uppercase:${level}}] ${longdate} ${callsite:className=True:fileName=False:includeSourcePath=False:methodName=False}: ${message} ${exception:format=toString,Data:separator=\r\n}" 
    />
    <target xsi:type="Console" 
            name="console" 
            layout="[${uppercase:${level}}] ${longdate} ${callsite:className=True:fileName=False:includeSourcePath=False:methodName=False}: ${message} ${exception:format=toString,Data:separator=\r\n}" 
    />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>